[2016-01-14 05:26] tdrozdowski opened #5 "Update to Kafka 0.9"
Kafka 0.9 is now the latest, any chance for an update soon?

[2016-01-14 11:48] manub commented on #5
I haven't had time to look into the new API yet, I'll try in the next days - haven't really had much spare time recently. Thanks for asking!

[2016-01-20 23:24] manub commented on #5
Version `0.4.1-kakfa09` supports Kafka 0.9.

[2016-01-20 23:24] #5 closed

[2016-01-26 16:25] brocchini opened #6 "Getting error on a basic test"
Hi, I tried a very simple test, but I got an error even before I added my real test code.

My test:
[code]
The error I am getting:
[code]
What I am doing wrong ?

[2016-02-06 19:31] akauppi opened #8 "Possible fault in the README"
Hi,

in the section **Use without the withRunningKafka method**, it seems the code sample should use `EmbeddedKafka.start()`and such? Now it's awfully close to the earlier sample. Would you be so kind and check this?

### Use without the `withRunningKafka` method

A `EmbeddedKafka` companion object is provided for usage without the `EmbeddedKafka` trait. Zookeeper and Kafka can be started an stopp

[2016-02-06 22:07] manub commented on #6
Sorry, this somehow slipped of my emails and I haven't noticed it until now!

Which version of Kafka are you using? It seems to be likely a clash in the classpath.

[2016-02-06 22:09] manub commented on #8
Good catch! Thanks for pointing this out. I'm going to update the docs.

[2016-02-06 22:13] #8 closed

[2016-02-08 17:59] brocchini commented on #6
@manub , np, thanks for answering now anyway.
I am using ` "com.softwaremill.reactivekafka" %% "reactive-kafka-core" % "0.8.1",
  "ch.qos.logback" % "logback-classic" % "1.1.3"` for the application and using `"net.manub" %% "scalatest-embedded-kafka" % "0.4.1-kafka09" % "test",` for writing tests.

[2016-02-08 22:42] manub commented on #6
I think `reactive-kafka` 0.8.x uses Kafka 0.8.x - you should switch to 0.9 to support Kafka 0.9. Otherwise you could use `scalatest-embedded-kafka 0.4.1` and this will use Kafka 0.8. Please let me know if this helps.

[2016-02-26 15:23] #6 closed

[2016-03-18 13:17] m-thread opened #10 "Weird compiler error"
Hi

I am trying to use the 0.4.3-kafka09 release and I get this really weird error when building my tests with maven.
`[ERROR] error: missing or invalid dependency detected while loading class file 'KafkaUnavailableException.class'.
[INFO] Could not access type RuntimeException in package scala.package,
[INFO] because it (or its dependencies) are missing. Check your build definition for
[INFO] mis

[2016-03-18 13:30] manub commented on #10
Hi,

No I haven't. I'm currently away with no laptop access but when I'm back next week I'll try to have a look. Are you able to access the RuntimeException class from your project?

[2016-03-18 13:34] m-thread commented on #10
Can it be related to me building with 2.11.x and the release is built on 2.10.x?

[2016-03-18 13:51] manub commented on #10
There is a 2.11.x available as well. If you're using 2.11 you should use
the 2.11 artifact.

On Fri, 18 Mar 2016 at 13:34, m-thread <notifications@github.com> wrote:

[2016-03-18 14:10] m-thread commented on #10
Good point. But it still fails with the same issue :( It's probably something on my side.

[2016-03-21 10:07] m-thread commented on #10
Hi again. I managed to get things to work. It turned out that I had to use 2.11.7 in my build to get things to work. I used 2.11.6 before and that gave me the compiler error.

Cheers
/Fredrik

[2016-03-21 10:07] #10 closed

[2016-03-21 10:51] manub commented on #10
Thanks for the update Frederik!

[2016-04-11 08:17] raduchilom opened #11 "Zk Client fails to connect to Embedded Zk Server in second connection"
My use case is something like this:

EmbeddedKafka.start()
createTopic
pushMessages
check messages
EmbeddedKafka.stop()

In the first test it all works well, but in the second test that does something similar to the first one it fails because the Zk client cannot connect to Zk server. You can see the error below. My guess is that the stop method doesn't clean up. Can you please give me some direct

[2016-04-11 13:32] manub commented on #11
Do you `start() and `stop()` in every test? Have you got a gist you could share? I start and stop the Embedded ZK multiple times in the tests and I don't seem to have that problem. Possibly you're not restarting the connection to ZK in every test? Just throwing out ideas, a gist could help me in helping you.

[2016-04-11 18:15] raduchilom commented on #11
Thanks. The Zk client was not reinitialised for each restart.

[2016-04-11 18:15] #11 closed

[2016-05-13 16:15] thesharpside opened #13 "build failure after sbt import"
building with 2.11.8 and kafka 0.9

Error:scalac: missing or invalid dependency detected while loading class file 'KafkaUnavailableException.class'.
Could not access type RuntimeException in package scala.package,
because it (or its dependencies) are missing. Check your build definition for
missing or conflicting dependencies. (Re-run with `-Ylog-classpath` to see the problematic classpath.)
A ful

[2016-05-13 16:16] manub commented on #13
Could this be related to #10 ?

[2016-05-13 16:21] thesharpside commented on #13
I suspected it was related, however I changed my version from 2.11.8 to 2.11.7 and I still saw the build failure.

[2016-05-13 21:20] manub commented on #13
v0.5.0 uses Scala 2.11.8 - have you tried to build against `0.4.3-kafka09` using Scala 2.11.7? Please let me know. Also, if you could paste your dependencies declaration that could be helpful.

[2016-05-13 22:55] thesharpside commented on #13
After some hair-pulling, I finally stepped back and did a sanity check by running sbt compile from a terminal, which succeeded.  There seems to be some issue with IntelliJ and this setup.

dependencies used in project:

    "io.spray"            %%  "spray-can"     % sprayV,
    "io.spray"            %%  "spray-routing" % sprayV,
    "io.spray"            %%  "spray-testkit" % sprayV  % "test",

[2016-05-14 09:10] manub commented on #13
This is strange. Although I'm more inclined to say that it could be a problem with the way IntelliJ interprets SBT dependencies.

[2016-05-16 15:53] thesharpside commented on #13
I agree.
I moved stuff around and tried different things and IntelliJ still interprets it as a build failure, but using sbt build is a workaround for the moment.

[2016-05-16 17:55] manub commented on #13
I can keep this issue open for a while, in case anybody else experiences the same problem.

[2016-05-17 16:43] l15k4 opened #16 "auto.offset.reset - smallest vs earliest"
Hey,

I believe `smallest` is deprecated in kafka 0.9.x :

Btw there are some issues with `auto.create.topics.enable` :
https://issues.apache.org/jira/browse/KAFKA-3334

Have you thought about adding support for creating topics on start?

[2016-05-17 17:00] manub commented on #16
Good catch - thanks for this. Definitely I'll be changing the value of `auto.offset.reset`. Or if you want feel free to submit a PR!

Regarding the auto creation of topics, #15 added a way to create manually topics. This is still lacking documentation but it will be fixed by the end of the week and a new release (possibly `0.5.1` or `0.6.0`) will be pushed. While this won't create topics automatic

[2016-05-17 17:12] thesharpside commented on #13
👍
I'll update this thread if we are able to find a solution/cause

[2016-05-17 17:24] chris-zen opened #17 "New KafkaConsumer failing"
Hi @manub, I am having trouble to consume with the new kafka consumer. I see in your tests that you still use the old consumer for them. Have you experimented with the new one already ?

FYI: Some interesting things I saw in the logs:
[code]
...
[code]

[2016-05-17 17:25] chris-zen commented on #17
Sorry, forgot to mention that I am using the following versions:
[code]

[2016-05-17 17:43] l15k4 commented on #16
I tried the current `0.6.0-SNAPSHOT` version and I now after calling `EmbeddedKafka.stop()` there is a Zookeeper client thread hanging trying to connect to ZK that has been stopped. I have a suspicion that the ZK client connection is from :
[code]

[code]

What do you think ?

[2016-05-17 22:18] manub commented on #17
I've pushed the changes using the new consumer and the build works on my local machine (I'm waiting for a codeship build though).

One thing I noticed is that in order to throw a `KafkaUnavailableException` instead of relying on errors while creating the consumer I have to force a timeout asking for partitions of a topic, as it seems to me `poll()` hangs when there's no Kafka running, but you can

[2016-05-17 22:20] manub commented on #16
Could you please check with the changes I pushed on master related to #17 if this is fixed? New consumer doesn't connect to Zookeeper anymore.

[2016-05-17 22:36] l15k4 commented on #16
That didn't helped. It is really caused by :
[code]
Everything is ok if I don't call it, but if I do :
[code]

Then :

[code]

[2016-05-17 22:45] l15k4 commented on #16
So instead of :
[code]
It must be :
[code]

[2016-05-17 22:50] manub commented on #16
That's good - sorry but I did have limited time today and I couldn't test your snippet. It does make sense to me. Do you want to submit a PR for this?

[2016-05-18 06:50] #16 closed

[2016-05-18 15:29] chris-zen commented on #17
Hi @manub, I really appreciate your fast response and update.

After looking at your code and seeing that was pretty similar to mine, I went to run `sbt test` and then everything worked perfectly. Apparently the problem was in running the tests from within IntelliJ, because it was not understanding my dependency definition from *build.sbt* that looked like:
[code]
The moment I replace "test,it" by

[2016-05-18 15:29] #17 closed

[2016-05-18 15:33] manub commented on #17
@chris-zen that's because for me `consumer.poll()` hangs when there's no Kafka running. calling `partitionsFor()` instead throws a timeout after 20 seconds. I had my build frozen because of that. I'd be happy to check for kafka running in a neater way.

[2016-05-18 15:39] chris-zen opened #20 "Allow arbitrary Kafka properties in the configuration"
I need to have topics automatically created with more than 1 partition to test something, but I couldn't figure out how to do it right now, because the `EmbeddedKafkaConfig` case class only allows to specify the ports for zookeeper and kafka.

What about having an extra field for arbitrary properties ? Something like:

[code]
You could check them and raise a warning or fail in case the user is ove

[2016-05-18 15:47] manub commented on #20
Have you looked at the changes in #15? This looks very similar to what's been implemented. However currently custom provided properties gets overwritten by the default ones. Which property are you looking to set in particular?

I noticed though docs are lacking in this particular area. I'm going to update them.

[2016-05-18 15:58] chris-zen commented on #20
That's exactly what I needed ! Thanks, looking forward for the next release.

I want to set `num.partitions` to 2, so new topics are created with 2 partitions by default.

[2016-05-18 15:58] #20 closed

[2016-05-18 16:04] manub commented on #20
Thanks @chris-zen  - I've setup a gitter chat for the project. I'm gonna discuss release plans there - feel free to join!

[2016-05-26 19:19] thesharpside commented on #13
**Update**:  this is definitely a IntelliJ project file issue.  Other team members were able to check the same code and build successfully.
I was able to resolve the error by re-creating the project file and manually setting the Module sources folders.

[2016-05-26 19:20] manub commented on #13
Awesome, thanks for your feedback.

[2016-05-26 19:20] #13 closed

[2016-06-03 06:32] chris-zen opened #25 "Making withRunningKafka easy to use in withFixture"
Hi @manub, today reading the [ScalaTest docs for sharing fixtures](http://www.scalatest.org/user_guide/sharing_fixtures) I realised that the signature of `withRunningKafka` does not allow to use it in an override of the ScalaTest `withFixture`. With a simple change in the signature I am guessing it would work (I didn't check it, but with other fixtures of mine it worked):

[code]

[code]

[2016-06-07 17:01] #25 closed

[2016-07-02 18:56] max5599 opened #26 "Update to Kafka 0.10.0.0"
Hi,
Thanks for you project it's very useful.
What about updating Kafka version to 0.10.0.0?

[2016-07-02 19:22] max5599 commented on #26
PR is pending for the update #27

[2016-07-06 21:17] xelax commented on #26
When I use version 0.6.1 it with kafka 0.10 I get the following error:

[info] IntegrationSpec:
[info] Exception encountered when attempting to run a suite with class name: akka.kafka.scaladsl.IntegrationSpec *** ABORTED ***
[info]   java.lang.NoSuchMethodError: org.apache.kafka.common.config.AbstractConfig.<init>(Lorg/apache/kafka/common/config/ConfigDef;Ljava/util/Map;Ljava/lang/Boolean;)V
[info

[2016-07-06 21:39] xelax commented on #26
I think that the issue is that 0.6.1 was published with the dependency still on kafka 0.9.0.1 instead of 0.10.0.0:

https://mvnrepository.com/artifact/net.manub/scalatest-embedded-kafka_2.11/0.6.1

[2016-07-06 21:56] manub commented on #26
Yes - use version `0.7.0` instead (just released).

[2016-07-06 21:56] #26 closed

[2016-07-12 18:30] IoDmitri opened #28 "Problems running embedded kafka with multiple scalatests"
Im having issues with embedded kafka when I run it within multiple scalatesst suits. [Here](http://stackoverflow.com/questions/38336423/embedded-kafka-throws-exception-when-producing-within-multiple-scalatest-suits) is my SO question that displays more of the code and details the issue.

[2016-07-13 09:42] manub commented on #28
I replied to the SO question - you should probably look into `EmbeddedKafka.start()` and `EmbeddedKafka.stop()` on `beforeAll` and `afterAll`.

[2016-07-15 03:09] blbradley commented on #28
@IoDmitri There are certain situations when using this library that could cause your tests to fail because of SBT's parallel execution of tests.

I've found that disabling parallel execution helps with those situations: ``parallelExecution in Test := false``.

[2016-07-15 03:21] blbradley opened #29 "Kafka Schema Registry"
Hello!

I'm experimenting with [Confluent's platform](http://docs.confluent.io/3.0.0/index.html). When using the Avro serializer from their platform, Kafka [Schema Registry](http://docs.confluent.io/3.0.0/schema-registry/docs/intro.html) becomes a required service (like ZooKeeper) for Kafka.

Would you be willing to accept submissions to this project in regard to the Schema Registry? Maybe start t

[2016-07-15 05:22] galarragas commented on #29
Hey @blbradley I think this would be a very good contribution 👍 You should consider the using the `MockSchemaRegistryClient` or the `ClusterTestHarness` ( the second option looks a bit more cumbersome)

[2016-07-15 07:12] manub commented on #29
As the Schema Registry is not a core feature, I'd be OK to have it but provided that it's only enabled on demand and disabled by default. Feel free to submit a PR and we can discuss it.

[2016-07-18 11:34] Fristi opened #30 "While `auto.create.topics.enable` is enabled getting `UnknownTopicOrPartition` errors"
While `auto.create.topics.enable` is enabled I get `UnknownTopicOrPartition` errors

When I add this piece of code to make a randomTopic it seems to work:

[code]

[2016-07-18 12:55] manub commented on #29
I think this can be closed now - please feel free to submit a PR and we'll take it from there.

[2016-07-18 12:55] #29 closed

[2016-07-19 14:05] slavaschmidt commented on #30
We might have a related issue.

Our Kafka client version 0.10.0.0

We were able to address the issue in our environment like following:

It turns out that the Kafka client is lazy initialised, for this reason the very first call to the producer takes quite a long time.
Because of this a CircuitBreaker was stepping in and delivered a timeout.

As a workaround we are now eager initialising the produ

[2016-07-19 21:30] manub commented on #28
@IoDmitri any news on this?

[2016-07-19 21:57] manub commented on #30
@slavaschmidt by _client_ do you mean the `producer`?

I can see the issue here and I know we've discussed it on Twitter but I'm unable to replicate it on my machine.

I've written another test and it seems to pass on my machine - could you please look at it, see if it makes sense and try it on yours? Gist is available at https://gist.github.com/manub/17e106ad69c494c4cedb6e32df40a65e

[2016-07-20 08:05] Fristi commented on #30
@slavaschmidt That might be worth a try. I'll dig in to that :-)

@manub && @slavaschmidt: I am writing a native pure scala driver for kafka, so for that reason I would like to use my own driver, but I could use the official kafka client in my test to force such behavior

[2016-07-21 08:17] manub commented on #30
@Fristi let me know if using the trick proposed by @slavaschmidt you fix your problem.

[2016-08-02 18:33] IoDmitri commented on #28
@manub The issue has been resolved by running before and after each, this prevents the shutdown/startup from bleeding into other test suits.

[2016-08-03 08:43] manub commented on #28
Brilliant!

[2016-08-03 08:43] #28 closed

[2016-08-11 17:03] IoDmitri opened #32 "Test hangs when running EmbeddedKafka"
Running EmbeddedKafka tests on a machine running Ubuntu 14.04 OS along with an Intel i7-4790 CPU @ 3.60GHz x 8 Processor, the test will hang. I have attached the full logs to this issue, but here are the 5 lines that keep being repeated, wondering if this is an issue related to Embedded Kafka at all.

[code]
[hanging.txt](https://github.com/manub/scalatest-embedded-kafka/files/413777/hanging.txt)

[2016-08-14 22:46] manub commented on #32
Could you try to clone the project, run `sbt test` and see if it hangs?

[2016-08-18 09:11] manub commented on #30
Do you still have the problem @Fristi? Please let me know so I can update the issue.

[2016-08-21 17:25] Fristi commented on #30
Issue is solved, I had to switch to Docker for testing.

[2016-08-23 15:51] #30 closed

[2016-09-01 17:28] IoDmitri commented on #32
@manub Here are the logs from my colleague who's having issues running embeddedKafka. He went ahead and ran it on both an Ubnutu 14.04 and Ubnutu 16.04 machine respectively.
[rohan_output_14.04.txt](https://github.com/manub/scalatest-embedded-kafka/files/450327/rohan_output_14.04.txt)
[rohan_output_16.04.txt](https://github.com/manub/scalatest-embedded-kafka/files/450328/rohan_output_16.04.txt)

[2016-09-01 21:29] manub commented on #32
Which JDK are you using for both `14.04` and `16.04`?

[2016-09-02 00:30] IoDmitri commented on #32
Here is the Java versions
Ubuntu 14.04
[code]

Ubuntu 16.04
[code]
There is some hanging reported on Ubuntu 16.04, with the following printout
[code]

[2016-09-02 00:49] IoDmitri commented on #32
Here are some more Logs from Ubuntu 14.04
[rohan_output_14.04_java7.txt](https://github.com/manub/scalatest-embedded-kafka/files/450984/rohan_output_14.04_java7.txt)
[rohan_output_14.04_java8.txt](https://github.com/manub/scalatest-embedded-kafka/files/450985/rohan_output_14.04_java8.txt)

[2016-09-03 13:37] manub commented on #32
I noticed some builds on CI hang as well sometimes. How you're using the library? Could you paste an example of the way you're writing your tests?

[2016-09-23 20:07] manub opened #35 "Update to ScalaTest 3.0.0"
ScalaTest 3.0.0 is available - there are no reasons why we should stay behind.

[2016-09-25 21:21] hghina0 opened #36 "Remove dependency from log4j 1.x"
Apache released Log4j 2. This library still has dependency on log4 1.x and throws error ClassNotFoundException for log4j.Logger for non-maven user. If possible please switch to slf4j API.

[2016-09-25 21:22] hghina0 opened #37 "specs2 integration please"
I know this library designed for scalatest but I would appreciate if you can provide adaptor trait for specs2 support as well.

[2016-10-01 11:29] manub commented on #32
Hi @IoDmitri - any news on this?

[2016-10-01 12:19] manub commented on #36
`log4j` is brought in transitively by Zookeeper.

I've just done some exploratory work (see branch https://github.com/manub/scalatest-embedded-kafka/tree/remove_log4j) and you can replace `log4j` with another logger implementation such as `slf4j` by using their bridges (http://www.slf4j.org/legacy.html). However I'm not sure this is the right thing to do by default in the library. It would be good

[2016-10-01 12:20] manub commented on #37
That would be something people already asked me about - although the library necessarily wouldn't be called `scalatest-...`. I know very little about Specs2 myself - a PR would be welcome as I don't foresee having enough time in the short term to work on that.

[2016-10-01 12:28] manub commented on #35
Fixed by 64556e07fe31656a7427655410f78109aec0cdf1

[2016-10-01 12:28] #35 closed

[2016-10-11 13:50] eshepelyuk opened #38 "Possibility to wait until kafka broker is completely stopped"
Is it possible to call `awaitShutdown` on `KafkaServer` to ensure that broker is completely stopped ?

[2016-10-15 16:08] manub commented on #38
Hi! Thanks for the suggestion - is it currently misbehaving?

[2016-10-17 07:17] eshepelyuk commented on #38
Yes, sometimes it fails when several tests that launching `Kafka` are run.

[2016-10-17 07:19] manub commented on #38
If you could provide me the stack trace I'll try to look at it.

On Mon, 17 Oct 2016 at 08:17, Evgeny Shepelyuk <notifications@github.com>
wrote:

[2016-10-17 07:23] eshepelyuk commented on #38
Well, stack traces are different and now we don't have them to provide.

[2016-10-17 16:07] manub commented on #38
I see. I'll have a look at this but it may take me a bit as I'm busy with other projects as well. If you want, you could submit a PR!

[2016-10-17 21:18] #38 closed

[2016-10-17 21:19] manub commented on #38
Thanks for pointing this out @eshepelyuk !

[2016-10-17 21:31] manub commented on #38
Releasing 0.8.1 now.

[2016-10-30 08:23] manub commented on #32
Not able to replicate and missing feedback I'm going to close this issue. Feel free to reopen if needed.

[2016-10-30 08:23] #32 closed

[2016-11-03 14:24] manub opened #48 "Support Scala 2.12"
This could cause problems in supporting Scala 2.10.

[2016-11-11 09:52] braadbaart opened #49 "Reading KTables when testing Kafka Streams topologies"
Using the KStreamBuilder DSL with custom serdes I found it impossible to consume internal Kafka streams topics that were built with the KTable abstraction. To be able to test intermediate steps in a streams topology, it would be great if KTables could also be consumed in the test runner.

[2016-11-11 10:02] adamosloizou commented on #49
Hi @braadbaart thanks for the feedback.
It would be really helpful if you could share a the simplest code snippet that reproduces that case so that I can have a look.

Thanks!

[2016-11-11 10:18] braadbaart commented on #49
Hi @adamosloizou, I'm afraid a simple snippet won't suffice to reproduce the case. The topology builder extends KStreamBuilder, uses a Kafka Streams`<T> KTable<K, T> aggregateByKey`, and custom domain objects for serializing and deserializing the KTable.

[2016-11-11 10:19] braadbaart commented on #49
The KTables used in the topology are not listed as a source topic, and don't have either key or value serdes assigned. Attempting to consume these topics in a `runWithStreams` an embedded kafka test setup results in `org.apache.common.errors.TimeoutException: Timeout expired while fetching topic metadata` and `No such instance method: net.manub.embeddedkafka.ConsumerExtensions$ConsumerOps$$anonfun

[2016-11-11 10:25] braadbaart commented on #49
AFAICS, this could be the result of either missing configuration on my part or compaction of the KTable internal state. I was thinking that perhaps the issue could be solved by expanding the library's `ConsumerExtensions` to support reading changelogs.

[2016-11-11 11:04] cb372 commented on #48
+1 for this. I just tried to add Scala 2.12 cross-building to akka-stream-kakfa but I found that this library was a blocker.

[2016-11-11 11:58] manub commented on #48
I wonder how does the community feel about removing support for Scala 2.10.

[2016-11-11 21:19] manub commented on #48
Kafka is not yet published for 2.12.0 and this library depends on that. There's a PR pending - https://github.com/apache/kafka/pull/2113. I'll try to understand what are their plans.

[2016-11-17 10:27] manub commented on #48
They merged that PR - I'm just waiting for the `2.12` artifacts to be published.

[2016-11-21 10:39] adamosloizou commented on #49
Hi @braadbaart, sorry for the delay. I am having a look this week and will let you know. Thanks again.

[2016-11-21 11:00] braadbaart commented on #49
Thanks for the update, @adamosloizou ! I have some time to look into the issue myself today. Please keep me posted.

[2016-11-21 11:26] adamosloizou commented on #49
@braadbaart please note that with the upgrade to Kafka `0.10.1.0` the Streams API has changed a bit.
Can you please confirm that you are still seeing the problem with the new API?
Thanks.

[2016-11-21 13:01] braadbaart commented on #49
I'm currently using kafka-client and kafka-streams 0.10.0.1 and scalatest-embedded-kafka 0.9.0.0. We're not planning to upgrade to kafka 0.10.1.0 just yet.

[2016-11-21 13:03] braadbaart commented on #49
When overriding the kafka-client and kafka-streams libraries as per https://github.com/manub/scalatest-embedded-kafka/commit/a3aad9e211fb1932faae62b86d607f509d6fc564, I get the following error:
[code]

[2016-11-21 13:05] manub commented on #49
This seems like a clash of dependencies issue. I'll try to investigate this - @kciesielski is this something you bumped in when trying to use `0.10.0.1` as you described in your changes?

[2016-11-21 14:32] adamosloizou commented on #49
@braadbaart Have a look at an example at my [fork](https://github.com/adamosloizou/scalatest-embedded-kafka/blob/issue_49/kafka-streams/src/test/scala/net/manub/embeddedkafka/streams/ExampleKTableSpec.scala).
What's happening is that upon calling [aggregateByKey](https://github.com/adamosloizou/scalatest-embedded-kafka/blob/issue_49/kafka-streams/src/test/scala/net/manub/embeddedkafka/streams/Exam

[2016-11-21 14:45] braadbaart commented on #49
Hi @adamosloizou thanks! Indeed, the internal topic is not meant to be consumed, but it can nevertheless be read from the command line in a running application like any other topic using the `console-consumer.sh` util.
I wanted to avoid creating an intermediate topic in the streams topology because that would mean altering the topology under test. The added value might not be worth the effort, tho

[2016-11-21 14:55] adamosloizou commented on #49
@braadbaart I agree that from what I have seen so far, intercepting these "internal" topics is not worth it. If at some point you think they'd be of value, let me know, I'd be happy to discuss it further.

As for:

I am not sure what you mean by that.
There is no KTable to KStream conversion happening. That's how a KTable looks in Kafka. The topic's last value  per key is the the KTable's current

[2016-11-21 14:56] braadbaart commented on #49
Ah, you're right - the `through` method creates another `KTable`.

[2016-11-21 14:57] braadbaart commented on #49
Thanks again! I'll close the issue.

[2016-11-21 14:58] adamosloizou commented on #49
Thank you @braadbaart for making me take a close look at the internals! Let us know if you come across anything else. Cheers!

[2016-11-21 14:58] #49 closed

[2016-11-21 21:53] ktoso commented on #48
For what it's worth Akka related tools are all on 2.11+ (and eagerly awaiting 2.12 for this) so we can merge @cb372's PR :-)

[2016-11-22 08:30] manub commented on #48
Hey @ktoso, thanks for popping by :) It seems that the Kafka people have merged the PR for 2.12 support but I can't see the artifacts anywhere as I write. I asked on the ticket referenced earlier on when it's expected to see published artifacts, so I can update my build.

[2016-11-22 18:13] kciesielski commented on #49
@manub @braadbaart Looks like switching back like I mentioned in README is not possible, here's a PR which removes this info from documentation: #51

[2016-11-24 11:14] manub opened #52 "Investigate support for other test frameworks"
It seems pretty clear that this embedded-kafka could be used also with other test frameworks.

A way to implement this is having a core module that embeds kafka, together with different libraries for different test frameworks (scalatest, specs2, ...). Probably this will require a library name change - and a bump to 1.0?

[2016-11-24 11:23] manub commented on #37
Superseded by #52.

[2016-11-24 11:23] #37 closed

[2016-11-24 14:17] analytically commented on #36
Use `"org.slf4j" % "log4j-over-slf4j" % "1.7.21"` and `exclude("log4j", "log4j")`.

[2016-11-24 14:19] manub commented on #36
Yeah - this could be embedded in the library as well but I'm not sure it would be the right thing to do. I'll need to think more about this.

[2016-11-24 14:19] analytically commented on #36
I'd actually say it's not the right thing to do in scalatest-embedded-kafka. :-)

[2016-11-24 14:21] manub commented on #36
Agreed. Closing this now as a solution to fix this on the application side has been provided. Thanks @analytically!

[2016-11-24 14:21] #36 closed

[2016-11-24 14:22] manub commented on #48
It seems that based on https://cwiki.apache.org/confluence/display/KAFKA/Time+Based+Release+Plan next release will happen in Jan 2017. Not sure if they plan to release current version binaries for 2.12.

[2016-11-24 21:28] manub commented on #48
https://github.com/apache/kafka/pull/2113#issuecomment-260159755 - it seems promising.

[2016-11-25 11:43] stanislav-chetvertkov commented on #10
Had the same issue, thanks for the solution

[2016-11-28 11:44] manub commented on #48
https://github.com/apache/kafka/pull/2164 it's still open. Once this get merged we should be able to get latest patch version compiled for `2.12` and hopefully unblock this.

[2016-11-30 22:05] manub opened #55 "consumeFirstStringMessageFrom fails too slowly when Kafka is not available"
`request.max.timeout.ms` is set too high, and should be probably lowered for the underlying consumer (even if the problem only appears in a non-likely use case, when trying to consume from a non-running kafka).

[2016-12-02 13:19] analytically commented on #48
apache/kafka#2164 is fixed now.

[2016-12-02 20:59] manub commented on #48
Yes, but artifacts are not published yet. I think there will be a new release soon.

[2016-12-05 14:19] sameergarg opened #56 "anomaly with KafkaConfig class in maven and sbt artefact vXXX_2.11 version 0.10.0"
## In sbt

class KafkaConfig(val props: java.util.Map[_, _], doLog: Boolean) extends AbstractConfig(KafkaConfig.configDef, props, doLog) {

def this(props: java.util.Map[_, _]) = this(props, true)

## In maven
-----------
class KafkaConfig private (val props: VerifiableProperties) extends ZKConfig(props) {

  def this(originalProps: Properties) {
    this(new VerifiableProperties(originalProps))

[2016-12-05 16:34] manub commented on #56
`0.10.0` uses Kafka `0.10.1.0` under the hood, which version of Kafka are you using? This looks like a classpath issue to me and it shouldn't be related to Maven but more likely to transitive dependency. Does it work with `0.9.0`?

[2016-12-05 17:15] sameergarg commented on #56
Yes, you are right. I was using an older version 0.8.2.2. Your code works perfectly with 0.10.1.0. Is there any jar compatible with 0.8.2.2?

I will close this issue now.

[2016-12-05 17:15] #56 closed

[2016-12-05 21:20] manub commented on #56
Check version `v0.5.0-kafka08`

[2016-12-05 21:41] lpassos opened #57 "java.lang.OutOfMemoryError: Java heap space"
I keep getting this exception, although I have 16Gb of RAM. Playing with the JVM heap parameters do not seem to help at all.

[2016-12-05 22:51] manub commented on #57
Hi @lpassos could you elaborate a bit further? E.g. the test that causes this issue.

[2016-12-08 02:41] leachbj commented on #48
There are rc0 builds now available, but no artifacts just yet.  Build them locally with `./gradlew install_2_12` from the `0.10.1.1-rc0` tag.

[2016-12-08 07:53] manub commented on #48
Thanks. To build this in CI I need to wait until the arifacts are published, although I will be able to test locally. I saw in the ML that this is a pre-alpha version, it's worth to be noting this when scalatest-embedded-Kafka will be released.

[2016-12-11 09:18] kubum commented on #57
Hi @manub

I accidentally reproduced it when tried to scope my tests, previously I used a constant name for my topic, e.g. "blah". However, if each of my test would use something like ```java.util.UUID.randomUUID.toString``` I would get OOM relatively quickly.

Stack trace:

[code]

It feels like it is not cleaning logs property on shutdown, but I am not sure how to set it.

Do you have any ideas

[2016-12-11 18:04] manub commented on #57
The logs directories are marked as temp and deleted on JVM exit, but this is not the case when executing multiple tests inside the same JVM. I'll publish a fix for this.

[2016-12-11 18:33] manub commented on #57
@lpassos @kubum I merged this change on master, could you please try to build master on your machine and see if you get the same behaviour?

[2016-12-11 19:55] kubum commented on #57
Hi @manub

You made me look into the repo :)

Unfortunately, your fix didn't work for me and I continued looking and found the solution. Please have a look at my PR. It looks like similar happened to Kafka integration tests.

Thanks for your help!

Let me know what you think

[2016-12-11 20:01] manub commented on #57
Awesome - that's great. I'll close this issue and will release in the upcoming days.

[2016-12-11 20:01] #57 closed

[2016-12-11 20:01] manub commented on #57
Thanks @kubum !

[2016-12-11 20:04] kubum commented on #57
Thanks @manub !

By the way, do you know if there is an elegant way to boot a single instance of kafka for whole suite instead of using AfterAll / BeforeAll? It would overall improve speed of whole suite and I can scope tests by using different topics.

[2016-12-11 20:12] manub commented on #57
Have you tried having a look at http://www.scalatest.org/user_guide/sharing_fixtures? I don't know on top of my head.

I'd argue that probably you want to have a new instance of Kafka for some tests in order to start for a clean situation - but of course YMMV!

[2016-12-15 21:48] leachbj commented on #48
kafka RC1 artifacts are now published to https://repository.apache.org/content/groups/staging/org/apache/kafka/.

They are designated pre-alpha as they have not received extensive testing from the Kafka team, the only difference between the 2.11 and 2.12 versions are the compiler/JVM with the 2.12 being built with 2.12.1 and Java8.

[2016-12-15 22:15] manub commented on #48
Do you know if they're planning to publish `0.10.1.1` on Maven Central? I can't seem to find them there.

[2016-12-20 21:28] #48 closed

[2016-12-20 21:35] manub commented on #48
Fixed in version `0.11.0`!

[2016-12-20 23:46] leachbj commented on #48
@manub those builds won't work in general until the kafka artifacts are in maven central.  The current ones are still RC1, it looks like they'll get promoted very soon though.

[2016-12-21 11:23] manub commented on #48
@leachbj are the binaries going to be different? The artefacts aren't tagged rc1...

[2016-12-23 02:29] leachbj commented on #48
I think the final artefacts are the same as the rc1.  Looks like the Apache process doesn't version as rc1 and just limits publishing them to the staging repository.  The final binaries are now in maven central; https://mvnrepository.com/artifact/org.apache.kafka/kafka_2.12/0.10.1.1

[2017-01-03 21:38] manub opened #66 "Add a method for consuming a batch of messages"
Instead of consuming the first one only, a method should be available for consuming `n` messages and fail if `n` messages aren't received in a given time frame.

[2017-01-15 07:47] prayagupd commented on #10
Make sure scalaVersion the [embedded-kafka is compiled against](https://github.com/manub/scalatest-embedded-kafka/blob/master/build.sbt#L13) is same as the version you are using in your project. With the latest embedded-kafka, it works for `2.11.7`, but not `2.11.5`.

[2017-01-23 23:27] prayagupd commented on #28
Strange, adding start and stop beforeEach and afterEach does not work for me. I also turned off sbt `parallelExecution`

[code]

sbt
----

[code]

In above example, the topics in first test are visible to second test.

[2017-01-24 09:28] manub commented on #28
@prayagupd which version of `scalatest-embedded-kafka` are you using? You may be hit by a bug I fixed in ca287be4bf148bd1d4519fc85f8bf00c7002e9f1.

[2017-01-25 06:06] prayagupd commented on #28
@manub I'm using 0.11.0 (https://github.com/nihil-os/streaming-driver/blob/master/build.sbt#L29). The issue actually is while running multiple tests at the same time. If I run individually works fine.

Saw
[code]

Seems first test did not clean up the consumer info, as the second test has similar `group.id` and `consumer.id`, it inherits consumer position from from test.

[2017-01-25 21:05] manub commented on #28
It seems to me you're registering twice the same `consumerId` and Kafka doesn't allow that. If you're running tests in parallel you may want to change `consumerId` for every test (and potentially `groupId` to avoid registering the two tests in the same group which will lead to unexpected behaviour).

[2017-02-11 12:16] shadius opened #68 "Add possibility to override streams config in runStreams method"
Hi,

TestStreamsConfig.streamConfig has a possibility to pass custom stream config as extraConfig parameter. Please add this param to EmbeddedKafkaStreams.runStreams that we can override some Stream config (like size of the local cache).

Thanks!

L.

[2017-02-16 15:19] reda-alaoui commented on #52
JUnit? :D

[2017-02-17 11:33] manub commented on #52
I'm not planning to work on JUnit for this one so far, sorry!

[2017-02-17 11:34] manub commented on #68
Hi L,

if you have time for submitting a pull request that'd be great, otherwise I'll look into it when I can.

[2017-02-17 11:34] #66 closed

[2017-02-20 09:27] imduffy15 opened #69 "Update to Kafka 10.2"
Kafka 10.2 passed voting over the weekend. JARs will be pushed to maven over the next coming days. The dependency for Kafka should be updated accordingly for testing with 10.2.

 http://markmail.org/message/xvay2452d73seduo

[2017-02-26 18:48] manub commented on #69
This is fixed in v0.12.0, thanks!

[2017-02-26 18:48] #69 closed

[2017-02-26 18:50] imduffy15 commented on #69
Awesome. Thanks.
On Sun 26 Feb 2017 at 6:48 p.m., Emanuele Blanco <notifications@github.com>
wrote:

[2017-03-07 23:45] gigaSproule opened #71 "Make it possible to define maximum attempts/polling timeout in consume lazily"
We're using your library in a project, but noticing that the performance of our build slave is slow enough to have issues with consuming from Kafka, so we need the maximum number of attempts and polling timeout to be configurable. I've already started doing it (not really that big a change!), but just creating tests and will submit a pull request.

[2017-03-09 09:05] manub commented on #71
Thanks @gigaSproule, looking forward to it!

[2017-03-09 09:17] gigaSproule commented on #71
I've created the pull request, so if you could take a look, that would be great. I'm fairly new to the Scala world, so by all means, tell me if it's done in the wrong way.

[2017-03-09 09:23] gigaSproule commented on #71
Seems like it's failed in Scala 2.11, so I will fix that.

[2017-03-16 09:19] gigaSproule commented on #71
All fixed and merged in, so I guess this should be closed?

[2017-03-16 14:38] manub commented on #71
Yes - thanks!

[2017-03-16 14:38] #71 closed

[2017-04-07 09:20] ivanopagano opened #73 "Wakeup timeouts in failing tests"
Hi, not sure this is tied to the library or somehow to the client used for tests.

Out test suites fail quite regularly if we configure timeouts for our kafka consumer (which uses the akka-stream-kafka library) as follows:

[code]

I have no stack-trace to provide, but the log errors are

[code]

If somehow it comes out that the error is not related to the library, I'll escalate to the kafka-strea

[2017-04-07 12:52] manub commented on #73
I had a similar problem with the `wakeup-timeout`. Honestly I don't think this is library related but I'll have a look anyway.

[2017-05-29 14:55] jmuth opened #75 "Logs"
Hi!

I would like to discard the logs produced by EmbeddedKafka (or at least to be allowed to chose the logging level.)

How can I do that?

Thx

[2017-05-29 15:49] manub commented on #75
Pull in `log4j-over-slf4j` (see https://github.com/manub/scalatest-embedded-kafka/issues/36) and adjust your logging accordingly. Let me know if this helps.

[2017-05-30 07:26] jmuth commented on #75
I couldn't do the job with `log4j-over-slf4j` but achieved it with your solution on commit a36ec5a2ce3e286a49eb887dd446c5a33e26575a

Thanks!

[2017-06-01 20:53] #75 closed

[2017-07-18 20:08] frossi85 opened #82 "Producer failing using atomic writes (exactly-once semantic) from Kafka 0.11.0.0"
The new version of kafka now support exactly-once semantic. See https://www.confluent.io/blog/exactly-once-semantics-are-possible-heres-how-apache-kafka-does-it/

I am working on a project that need it, so I added the changes in the project and added a new test. But they are failing because the new kafka version added a few new kafka/zookeeper configurations like transaction.state.log.replication.

[2017-07-31 13:34] claudio-scandura commented on #82
Hi @frossi85,
I had the same issue and I believe it would be nice for the library to set the replication factor to `1` in the broker config.
In the meantime the workaround is simple; just pass the `customBrokerProperty` in the `EmbeddedKafkaConfig` in your test as follows:

[code]

[2017-08-10 15:29] #82 closed

[2017-08-11 17:08] jacobg opened #83 "withRunningKafka doesn't wait for a function body that returns a Future[Assertion]"
scalatest lets you write a test like the following:

[code]

scalatest has the smarts to recognize that the closure returns a Future, will wait for it to complete, check that the future value is an Assertion, and finally verify that the Assertion is successful.

But if you run a similar test enclosed inside withRunningKafka, then Kafka shuts down before the future completes. If the test is testing

[2017-08-18 14:32] TronPaul opened #84 "Sporadic org.apache.kafka.common.errors.TopicExistsException"
I'm sporadically getting `TopicExistsException` on tests after the first test. I'm using `net.manub.embeddedkafka.streams.EmbeddedKafkaStreams#runStreams` to set up Kafka and Kafka Streams for the test. It seems the more topics I pass in for it to create the more likely the issue is to pop up. At 3 topics I saw it happen once. With 10 topics it happens occasionally.

I plan on coming up with a bas

[2017-08-18 18:05] max5599 opened #85 "Make EmbeddedKafkaConfig a trait to allow other implementation"
I'm using Kafka and a schema registry to serialize messages.
I've made a trait that allow me to run a Kafka and a schema registry:
[code]
ConfluentConfig can't extend EmbeddedKafkaConfig because it's a case class so when using 'withRunningKafkaAndSchemaRegistry' I have to declare the implicit EmbeddedKafkaConfig:
[code]

I'd like to make EmbeddedKafkaConfig a trait then make ConfluentConfig implem

[2017-08-20 09:03] manub commented on #84
Have you tried looking into the `AdminUtils` class given by Kafka? IIRC there are examples on how to connect to a zookeeper client in there.

[2017-08-20 09:04] manub commented on #85
Is `ConfluentConfig` a class provided by Confluent? If that's the case you could overload that method and have another version that works with `ConfluentConfig`.

[2017-08-20 09:07] manub commented on #83
Hi @jacobg that's a very interesting issue indeed. I haven't looked really at the internals of Scalatest 3 for the AsyncSpecs so it would require me a bit more of digging into it. My time to work on this library right now is a bit limited so if you would like to provide a PR that'd be greatly appreciated, otherwise it may take me a bit to look into this but I'll try.

[2017-08-21 14:27] TronPaul commented on #84
Fairly certain I figured out the issue. I hadn't closed the Kafka producer I used after the test completed. I haven't seen the issue since I started closing producers.

[2017-08-21 14:27] #84 closed

[2017-08-25 20:11] ryanworsley commented on #82
I have this same issue, the above solution from @claudio-scandura works if the line is in fact;

`implicit val kafkaConfig = EmbeddedKafkaConfig(customBrokerProperties = Map(kafka.server.KafkaConfig.KafkaConfig.TransactionsTopicReplicationFactorProp -> "1"))`

Note this is for the TRANSACTIONS and not the OFFSETS topic.

Once this is set, the error goes away, to be replaced by a new error;

`org.a

[2017-08-31 21:02] manub commented on #82
Added this as a default behaviour, thanks @ryanworsley

[2017-09-01 15:29] aseigneurin opened #87 "Library no longer works with Kafka < 0.11"
A recent commit replaces configuration properties with a reference to constants. Some of these constants only exist in Kafka 0.11, thus breaking at execution time when running with Kafka < 0.11.

See https://github.com/manub/scalatest-embedded-kafka/commit/868449d530030607627400e274270056d55d1057#diff-94790827da36cdd54fa6cb75094a4f84R471

[code]

[2017-09-01 18:34] manub commented on #87
Thanks - this is a `SNAPSHOT` anyway. I guess we could inline the values as those will simply be ignored for earlier versions. Will do that.

[2017-09-01 18:54] #87 closed

[2017-09-02 17:00] ryanworsley commented on #82
Thanks @manub - for reasons that aren't clear, my stream processor doesn't process messages when exactly once is set.  I've been speaking to Matthias Sax over on the [confluentcommunity](https://confluentcommunity.slack.com) slack channel and he's asked me to raise this [Jira](https://issues.apache.org/jira/browse/KAFKA-5825).  It might be something you'd be interested in watching - probably I'm j

[2017-09-10 23:05] max5599 commented on #85
`ConfluentConfig` is a class I made that wrap `EmbeddedKafkaConfig`  and the schema registry port.
So if a trait exists, I can extend it.
PS: sorry for the late answer

[2017-09-11 00:48] jacobBaumbach opened #89 "KTable producing empty Streams with runStreams"
Hello, I am using `runStreams` in my [tests](https://github.com/jacobBaumbach/kafka-stream-session-example/blob/master/src/test/scala/exampleSpec.scala) to see whether my KTable is accurately tracking a user session.  I am printing the results of my KTable and I am getting the expected output, but the [consumer](https://github.com/jacobBaumbach/kafka-stream-session-example/blob/master/src/test/sca

[2017-09-11 14:11] mewwts commented on #32
This might be completely off topic as I've not checked the logs here, but I've had tests hang forever when I've _failed to name a store_. Say I run a `stream.groupBy(something).count()` without an argument to `count()` and I have code that wants to query the the store of the count, it will just hang 😌

[2017-09-11 17:16] manub commented on #85
That's ok - feel free to submit a PR for this!

[2017-09-19 10:41] mewwts opened #91 "Sporadic `ProcessorStateException: Failed to flush state store`"
I have `EmbeddedKafka.start()` and `.stop()` in `beforeAll` and `afterAll`, but when I run my suite I see sporadic issues like in this stacktrace:
[code]
I've seen this `failed to flush` in production _once_  as well, but I'm not sure where it comes from. Any ideas?

Forgot to mention that I'm here using a custom JsonSerde which uses Jackson below.

[2017-09-21 16:48] cizmazia opened #92 "multiple brokers"
Please could you enable running multiple brokers?

Testing  with the *exactly once guarantee* turned on requires at least `3` brokers:
[code]
Associated errors:
[code]

Workaround
[code]

[2017-09-21 20:01] manub commented on #92
I'm thinking about possible implications of this on memory allocation during the build. It's definitely something that could be investigated - are you running them successfully?

[2017-09-21 20:02] manub commented on #91
Have you tried to ask on the Kafka ML? It doesn't seem to me that this could be related to the library use...

[2017-09-22 08:03] cizmazia commented on #92
Yes, I am. Thanks!

[2017-09-25 16:21] baitmbarek opened #93 "Headers Support"
Hello,
Seems like Headers are not saved in the Kafka Server (which is a new feature of Kafka 0.11). Would it be possible to take a look ?
Edit : I guess the EmbeddedKafka.publishToKafka method should take an Map-like extra parameter for record headers and the "message" value in consumer method should handle the record headers in order to provide it in return.
Thanks ;)

[2017-10-02 09:34] mewwts commented on #91
You're probably right, I think my way to test was a bit flawed. I've moved to using the `KStreamTestDriver`.

[2017-10-02 09:34] #91 closed

[2017-10-03 22:09] manub commented on #68
Fixed by #94

[2017-10-03 22:09] #68 closed

[2017-10-06 14:09] PiotrFras commented on #93
Instead of passing more and more parameters, consider exposing a method with kafka producer record as single parameter.

[2017-10-31 20:11] bradleysmithllc opened #97 "Kafka consumer only finds messages from one topic, specifically it seems like the last topic created."
When I create a stream using the Spark 010 API, I see messages posted to all topics.  When I create a kafka consumer using the 010 spark streams API I only get the last topic's messages.

[2017-12-27 16:07] tjheslin1 opened #101 "Unable to run tests in parallel"
Due to the singleton, mutable `broker` ([see here](https://github.com/manub/scalatest-embedded-kafka/blob/master/embedded-kafka/src/main/scala/net/manub/embeddedkafka/EmbeddedKafka.scala#L47)). It's not possible to run tests in parallel, even when randomising ports.

If more than one test using `EmbededKafka` runs at the same time I consistently get:
[code]

I think it would make sense that `start

[2018-01-15 13:18] manub commented on #101
Hi @tjheslin1 and sorry for the very late response. I'll look into this but I have very little spare time in my hands right now - if you could submit a PR I'd more than happily review it quickly otherwise this will have to wait a bit I'm afraid.

[2018-01-15 13:58] Thomas-Heslin commented on #101
@manub no worries. I'll have a look into raising a PR soon 👍

[2018-01-31 16:51] #52 closed

[2018-02-02 15:39] alifirat opened #102 "Consumer offsets after restarting"
Hi,

I'm using your tool to make some unit test on Kafka. I wrote a test in which I want to assert that if I restart Kafka, a consumer with the same group id retrieves last committed offset. Below my test scenario :

1. Dataset in the test is 99 elements to publish in one topic kafka and 9 elements to publish in another topic.
2. Kafka configuration is to have 4 partitions per topic
3.  ```Embedde

[2018-02-05 12:28] mwz commented on #101
Hi @Thomas-Heslin, have you been able to make any progress on this?

[2018-02-05 12:40] tjheslin1 commented on #101
@mwz I haven't unfortunately. I will get round to it after I've addressed an Issue on my own project. Feel free to take it on if you need it sooner.

[2018-02-05 13:45] manub commented on #102
I think this could easily be addressed by adding a restart method. `.stop()` should clean up always, so I'd rather have a new method. Feel free to submit a PR - I have unfortunately very little time at the moment.

[2018-02-18 17:38] tjheslin1 commented on #101
@mwz @manub I am working on this now 👍 Should have a PR soon.

[2018-02-18 17:40] mwz commented on #101
Sweet!

[2018-02-21 22:45] darthmiguel opened #104 "can't connect to embedded server message"
Hi I am using this code to test that my Kafka Producer is correctly writing to kafka

describe("publish message to kafka topic")
  {
    it("should publish the message to kafka topic") {

      implicit val config = EmbeddedKafkaConfig(kafkaPort = 6666)
      implicit  val deserializer = new StringDeserializer
      val message = "this is a test message"
      withRunningKafka {
        KP.configu

[2018-02-21 23:42] shashidesai commented on #101
@tjheslin1 - adding to the request. I was just wondering will your fix/solution take care if we are using `runStreams` - so that we can use random available ports ?
reference - https://github.com/manub/scalatest-embedded-kafka/blob/v0.15.1/kafka-streams/src/test/scala/net/manub/embeddedkafka/streams/ExampleKafkaStreamsSpec.scala#L30

[2018-02-22 14:50] tjheslin1 commented on #101
Hi @shashidesai I hadn't considered the Kafka Streams side of the project but I will look into your problem too. :D

[2018-02-25 23:24] gyoho opened #106 "Failed to collate messages by topic, partition due to: Failed to fetch topic metadata for topic"
Firstly, thanks for developing such a nice tool very useful for Kafka development.

I'm using the `withRunningKafka` method to test publishing to an embedded Kafka instance.

[code]

The above test throws this error:
`15:08:12.857 ERROR k.producer.async.DefaultEventHandler - Failed to collate messages by topic, partition due to: Failed to fetch topic metadata for topic: abc`

It seems that this is

[2018-02-26 10:11] manub commented on #106
If you swap `localhost` with `127.0.0.1` what happens?

[2018-02-26 13:37] tjheslin1 commented on #101
Hi @shashidesai. Looking into your request now. I can see that `runStreams` calls the function `withRunningKafka` which starts a Kafka instance using an implicit `EmbeddedKafkaConfig`.

The Kafka instance created by `withRunningKafka`, from what I can see, is correctly shutdown and shouldn't affect another running instance. With that said, do you have an example of your issue?

What I can do, for

[2018-03-03 00:59] shashidesai commented on #101
Thanks @tjheslin1
we are using the runStreams like this example  - https://github.com/manub/scalatest-embedded-kafka/blob/v0.15.1/kafka-streams/src/test/scala/net/manub/embeddedkafka/streams/ExampleKafkaStreamsSpec.scala#L30

So I am using this way to run kstream tests, but when I initialize `EmbeddedKafkaConfig`, it uses a port which I want to be dynamic. I don't use `withRunningKafka` in the `ru

[2018-03-05 14:01] tjheslin1 commented on #101
@shashidesai I think I better understand your problem. Can you confirm that setting the port to `0` doesn't choose a randomly available port?

Looking at `runStreams`, called in the test you linked, I can see that it does call `withRunningKafka`, internally, see here:
https://github.com/manub/scalatest-embedded-kafka/blob/master/kafka-streams/src/main/scala/net/manub/embeddedkafka/streams/Embedded

[2018-03-05 21:37] manub commented on #106
If you look at the post, the OP managed to fix it by adding the `advertised.port` property. You can add custom properties to brokers/producers/consumers by using the `EmbeddedKafkaConfig` class. Give it a go.

[2018-03-05 21:38] manub commented on #104
if you try using `EmbeddedKafka.start()` and `.stop()` do you have the same result? I think the issue here is that there's an active connection while the server shuts down.

[2018-03-07 21:59] tjheslin1 commented on #101
Hi @shashidesai. I see. Thanks for trying! I don't believe my change will have an affect as it deals with managing kafka (and zookeeper) instances running in the same app, whereas with mutliple PRs these will be still separate.

[2018-03-07 22:00] shashidesai commented on #101
got it. thanks @tjheslin1 . I can make a separate issue for that issue.

[2018-03-07 22:04] tjheslin1 commented on #101
Cool. I'll be happy to help where I can!

[2018-03-08 08:05] jiminhsieh commented on #89
@jacobBaumbach I noticed you didn't materialize the data stream at your code. If you add `data.to(stringSerdes, stringSerdes, outputTopic)`, you should get non-empty `Stream`.

[2018-03-09 21:26] #101 closed

[2018-03-20 12:07] maslovalex opened #109 "EmbeddedKafka.isRunning returns false when ZooKeeper and Kafka started separately"
the current implementation of `isRunning` is

[code]
But when `EmbeddedKafka.startKafka(Directory)` is used `EmbeddedK.factory` is always `None`
So `isRunning` will be always `false` even if it is actually in operational state.

Tried it in Scala-REPL

[code]

[2018-03-29 13:58] tjheslin1 commented on #109
Hi @maslovalex. Sorry I haven't responded sooner.

The current implementation was my change as part of #105. The functionality however I kept the same according the [documentation comment](https://github.com/manub/scalatest-embedded-kafka/blob/master/embedded-kafka/src/main/scala/net/manub/embeddedkafka/EmbeddedKafka.scala#L121):

[code]

So for this method to return `true`, _EmbeddedKafka_ had to

[2018-03-29 14:08] tjheslin1 commented on #92
Hi @cizmazia. Most of the work I believe to achieve this is available in the latest release.

#101 addressed the problem of running tests in parallel, with the underlying issue being with managing brokers.

Currently however you would run into the issue with the [broker.id](https://github.com/manub/scalatest-embedded-kafka/blob/master/embedded-kafka/src/main/scala/net/manub/embeddedkafka/EmbeddedK

[2018-04-03 10:30] manub commented on #109
a PR for this would be very welcome!

[2018-04-03 10:31] manub commented on #92
Thanks @tjheslin1, seems like a sensible thing to do.

[2018-04-03 12:34] tjheslin1 commented on #92
@manub @cizmazia I'll have a PR for this soon 👍

[2018-04-03 12:35] tjheslin1 commented on #109
@manub @maslovalex Will have this change raised soon!

[2018-04-03 17:39] arjunchhabra commented on #102
Hi @alifirat - could you share how you are checking the offsets in your test?

[2018-04-03 20:08] h-ngo opened #110 "Topic persistence"
Hi,

I'd like to share the same embddedKafka server and topics across all the tests/specs. We have all specs mixed into a Suite and extended BeforeAndAfterAll.

Class KafkaTestSuite extends Suites (
 new ASpec,
 new BSpec
) with EmbeddedKafka with BeforeAndAfterAll {

  override protected def beforeAll(): Unit = {
    super.beforeAll()
    EmbeddedKafka.start()
    createCustomTopic("test-topic")

[2018-04-03 23:04] #110 closed

[2018-04-06 10:52] kthristov opened #113 "Custom Consumer not working"
Hi,

I'm struggling to make a custom consumer work. For some reason the just aren't reading from Kafka. I tried with the kafkaConsumer implemented and also making a KafkaConsumer but any of them is reading. The thing is the functions like  consumeFirstStringMessageFrom work perfectly fine. Even copying pasting test are already done in the test folder aren't working...

Im testing with an empty pro

[2018-04-07 17:18] tjheslin1 opened #114 "Address already in use - starting up Zookeeper"
I started working PRs for #109 and #92 but have run into a problem running tests.

I'm posting here in hopes of getting some help in resolving the issue.

So far I've tried:

- downgrading the version of Zookeeper
- upgrading my version of Java
- randomising the ports assigned in `EmbeddedKafkaObjectSpec`

I came across [ZOOKEEPER-1441](https://issues.apache.org/jira/browse/ZOOKEEPER-1441?jql=proj

[2018-04-07 18:06] tjheslin1 commented on #114
I've send this issue on multiple Mac's and running this project's Travis build.

[2018-04-10 15:24] copmir opened #115 "Schema Registry"
Hi,

It' is possible to extend the EmbeddedKafkaStreamsAllInOne  trait to instantiate a mocked schemaregistry too ?

I'd like to do tests with avro...

Many thx

[2018-04-11 07:25] francescopellegrini commented on #115
Hi,
this has been asked before in #29 and I agree with @manub: Schema Registry is not a core feature of Kafka.

FYI I'm currently working on extending this library to provide such functionality but I'd need some tweaks of hooks to make it work better: maybe I can use this thread to ask for them..
What do you think, @manub?

[2018-04-11 09:41] manub commented on #115
I'd be more than happy to see a PR, provided it's disabled by default as I previously suggested.

[2018-04-11 10:59] francescopellegrini commented on #115
I'm actually working on a separate library that makes use of this one, since a lot of (non-BC) changes to the APIs would be required in order to provide a PR...
What do you think about changing, e.g., `EmbeddedKafkaSupport.withRunningKafka` `body` param type into `EmbeddedK => T`?

[2018-04-18 15:31] francescopellegrini opened #116 "Evaluate using Apache test utils for Kafka Streams"
[See KIP-247](https://cwiki.apache.org/confluence/display/KAFKA/KIP-247%3A+Add+public+test+utils+for+Kafka+Streams) and [official documentation](https://kafka.apache.org/11/documentation/streams/developer-guide/testing).

Could it take place of some homebrewed classes or method?

[2018-04-18 15:50] francescopellegrini commented on #115
I managed to create the PR you requested, @manub. I'd be pleased to open a discussion on it.

[2018-04-23 08:42] francescopellegrini opened #118 "Map vs Properties usages"
There are mixed usages of `Map[String, Object]` and `java.util.Properties` spread in the codebase to pass configuration to `KafkaConsumer`s, `KafkaProducer`s and so on: is there a reason?

[2018-04-23 11:16] manub commented on #118
Not a particular one. I'd like to stick to using `Map` everywhere if possible.

[2018-04-23 11:16] manub commented on #116
Yes - would that mean relying on those utils in the `kafka-stream` module or remove it in its entirety? I haven't touched that one, as it was a contribution from @adamosloizou

[2018-04-23 12:47] francescopellegrini commented on #116
It would require some small changes to the `kafka-streams` module, but I think keeping the loan pattern would be nice for end-users.
I'll work on a PR in the next days.

[2018-04-23 14:52] francescopellegrini commented on #116
After further investigation I found that Apache test library completely mocks the broker and doesn't use ZooKeeper at all, so it could replace this library completely if it weren't for being Java-level verbose and not extensible (Schema Registry requires ZooKeeper and Kafka broker to be found on real ports).

[2018-04-23 14:52] #116 closed

[2018-04-23 14:54] #115 closed

[2018-04-23 14:56] manub commented on #118
True but most developers are more familiar with `Map` in my opinion. I'd happily merge a PR!

[2018-04-23 15:03] francescopellegrini commented on #115
Should this change deserve a version bump? Readme file on `master` branch still refers to 1.1.0...

[2018-04-23 16:05] francescopellegrini opened #120 "AdminUtils.createTopic is deprecated"
We should use [AdminClient.createTopics](https://cwiki.apache.org/confluence/display/KAFKA/KIP-117%3A+Add+a+public+AdminClient+API+for+Kafka+admin+operations) instead.

I'm already working on a PR.

[2018-04-25 07:48] ysule opened #125 "Embedded Kafka Dependency causes transitive demendency errors"
Hi ManuB,
I included scalatest-embedded-kafka in the test scope in my project.
but when I compile the code it gives the following errors.

[warn]  [FAILED     ] com.sun.jdmk#jmxtools;1.2.1!jmxtools.jar:  (0ms)
[warn] ==== local: tried
[warn]   C:\Users\Yayati\.ivy2\local\com.sun.jdmk\jmxtools\1.2.1\jars\jmxtools.jar
[warn] ==== public: tried
[warn]   https://repo1.maven.org/maven2/com/sun/jdmk/jmx

[2018-04-30 20:16] #120 closed

[2018-05-02 12:00] NeQuissimus opened #129 "Kafka 1.1.0"
Any chance you could release an artifact with dec812a1518c38cabb598b69064bf1125374d312 in it? :)

Thank you!

Edit: For future reference, I am seeing this error I suspect is caused by my pulling in Kafka 1.1.0 while `scalatest-embedded-kafka` expects 1.0.1:
[code]

[2018-05-02 12:42] francescopellegrini opened #130 "Update version compatibility matrix in README.md"
1.X versions do not follow Kafka versioning schema anymore.

[2018-05-02 12:54] francescopellegrini commented on #83
Loaner pattern and `Future`s [don't go along very well](https://stackoverflow.com/a/20769705)... A commons suggestion is to wrap the whole test in a `Future`, like this:

[code]

Could this solve your use case?

[2018-05-02 12:58] francescopellegrini commented on #109
This change would be extra nice since #117 introduced yet another component to consider.

[2018-05-02 13:29] francescopellegrini commented on #129
I also would like a new release (or a RC) with ee9beb3 included, please.

[2018-05-02 14:11] manub commented on #129
I'll be releasing a version during the weekend if not earlier. Thanks!

[2018-05-02 14:11] #129 closed

[2018-05-02 14:13] manub commented on #130
Yes - unfortunately this was a mistake on my side. I'll release `1.1.0-kafka110` shortly and update the README.

[2018-05-03 15:22] francescopellegrini opened #131 "Replace 0.0.0.0 with localhost"
`EmbeddedKafka.startZooKeeper` is the only method using the former to create a local server.
I stumbled upon this trying to run tests on a machine which had a **proxy** configured: tests were failing until I added 0.0.0.0 to the proxy hosts whitelist.

I suggest to replace 0.0.0.0 with `localhost` unless there is a valid reason to use the current value.

[2018-05-04 21:24] #118 closed

[2018-05-04 21:25] #131 closed

[2018-05-04 22:12] manub commented on #130
I've released `1.1.0-kafka1.1`

[2018-05-04 22:12] #130 closed

[2018-05-05 05:23] simplesteph opened #133 "Can't import without confluent dependencies"
@francescopellegrini  I understand you need the schema registry in this library but that's not "pure kafka" and the dependencies actually rely on importing the Confluent Schema Registry. Any import of the newly `  "net.manub" %% "scalatest-embedded-kafka" % "1.1.0-kafka1.1" % "test",` will result in that error:

[code]

Please extract the schema registry dependency into a separate dependency / pro

[2018-05-05 06:47] manub commented on #133
I have been outside the Kafka world for a bit, and I didn't realise that. A separate version will be released - however I have very little time for contributing. If you or @francescopellegrini could issue a PR that'd be great and I'll release it ASAP, otherwise it may take me a little bit to make the change.

[2018-05-05 09:45] francescopellegrini commented on #133
This was my initial plan, if you read back to #115, but there was (nor yet is) any hook to use to trigger additional logic in `withRunningKafka` or similar methods.
`EmbeddedSR` could be moved away by making `EmbeddedServer` not `sealed`, but I couldn't figure out a way to add the Schema Registry conf properties to `EmbeddedKafkaConfig` while leaving it separate in its own project.
I'll try to fin

[2018-05-05 12:15] simplesteph commented on #133
@francescopellegrini  I understand.
Maybe you can have
`scalatest-embedded-kafka-confluent` addon / project / module which provides a `withRunningKafkaConfluent` which wraps `withRunningKafka` and adds a schema registry in the mix

[2018-05-07 05:27] simplesteph commented on #133
@manub if you do a pre-release on maven central I can test that with my project: https://github.com/simplesteph/kafka-security-manager
I don't have enough background at how the project works to look at the PR, but I can tell you if it's all good from a user perspective once you have a pre-release

Thanks for the quick turnaround!

[2018-05-07 17:11] francescopellegrini commented on #133
@manub I was working on a PR myself (which goes in a very different direction) but I'll review yours soon.

[2018-05-07 20:49] manub commented on #133
@simplesteph I'd rather not publish another version for now and I've looked into deploying snapshots to bintray but I had very little success!

Can I suggest you try to build the code yourself? It should be pretty straightforward

- clone the project and checkout the `split-schema-registry` branch
- run `sbt +publishLocal` to publish locally all the three projects, cross built for 2.11 and 2.12
-

[2018-05-08 12:46] simplesteph commented on #133
@manub I gave it a try but didn't work
[code]

[2018-05-08 20:04] #133 closed

[2018-05-08 21:15] manub commented on #133
@simplesteph I'm publishing a version to bintray only now.

Please add `Resolver.bintrayRepo("manub", "maven")` to your resolvers in sbt (https://www.scala-sbt.org/1.x/docs/Resolvers.html) and then specify version `1.1.0-kafka1.1-nosr`. Let me know, in case I'll publish to Maven Central.

[2018-05-09 03:27] simplesteph commented on #133
@manub  it works, and tests are passing! No need for confluent repo anymore
Cheers!

[2018-05-10 21:15] manub opened #135 "Add documentation for embedded-kafka-schema-registry"
@francescopellegrini could you please help with this?

[2018-05-11 08:52] francescopellegrini commented on #135
Yes, I'll submit a PR in the next days.

[2018-05-11 10:30] #135 closed

[2018-06-13 21:12] guillermoortiz opened #140 "Kafka Embedded dependency problems"
Hello,

I'm trying to use the version 0.9.0 because I'm using Spark Streaming 2.0.2 and it seems the most compatible version.  But this version has some bugs (Java heap problem...) and I need a newer version.

When I try to use a newer version I get some dependencies errors when I start Kafka embedded.
The reason seem that my spark-streaming library use kafka-client 0.10.0.1 and if I try to use a

[2018-06-18 20:51] ches opened #141 "Documentation about Kafka version matching is incorrect"
The README states:

But, the 0.11.0 and 0.11.1 versions of scalatest-embedded-kafka were not built against those corresponding versions of Kafka:

- https://github.com/manub/scalatest-embedded-kafka/blob/v0.11.0/build.sbt#L5
- https://github.com/manub/scalatest-embedded-kafka/blob/v0.11.1/build.sbt#L5

These releases were in fact made before those Kafka versions existed.

I lost some time with bin

[2018-06-18 21:33] #141 closed

[2018-06-18 21:33] manub commented on #141
Thanks @ches - I've updated it now.

[2018-06-18 21:37] manub commented on #140
Have you tried forking the library and setting the versions to what works for you? If you fork starting from the release you use you could possibly get a matching version.

[2018-06-18 21:37] #93 closed

[2018-06-26 16:52] aig787 opened #142 "Schema registry missing class"
Kafka fails to start with embedded schema registry with the following error. Running the same code with EmbeddedKafkaConfig instead of EmbeddedKafkaConfigWithSchemaRegistry allows Kafka to start normally.

[code]

sbt dependency entry

```"net.manub"              %% "scalatest-embedded-schema-registry" % "1.1.0-kafka1.1-nosr" % Test,```

[2018-06-27 11:15] blissd commented on #142
I also see this problem.

[2018-07-05 13:17] erikvanoosten commented on #129
I am confused. What is the solution to this problem?

[2018-07-10 21:08] manub commented on #142
This may be related to incompatible versions of Jetty on your classpath. If you run something like `sbt dependencyTree` what's the ouptut for Jetty?

[2018-07-10 21:29] crankydillo opened #143 "EmbeddedKafka.start(cfg) where zookeeper and kafka ports are determined"
Hi,

I would like to use the manual start/stop methods of EmbeddedKafka along with having zookeeper and kafka ports determined by this library.  It seems like a trivial change made [here](https://github.com/manub/scalatest-embedded-kafka/blob/64d4eea3eb8042ba0a590332a8c16d2859cb340d/embedded-kafka/src/main/scala/net/manub/embeddedkafka/EmbeddedKafka.scala#L64) involving reading the zookeeper port

[2018-07-10 21:30] crankydillo opened #144 "Decoupling scalatest from embedded kafka"
I'm using this library from TestNG+Java tests.  I don't foresee a problem with ScalaTest being on the classpath; however, it would be nice if this was isolated.  Do you see a big problem breaking these apart?

[2018-07-10 22:02] manub commented on #144
Using the `EmbeddedKafka` object would be fine, but some of the assertions and mixing the trait in won't be possible. It would require a bit of work which at the moment I cannot initiate, but I'd be happily look at a pull request.

We'd have also to change name to the project though... :)

[2018-07-10 22:03] manub commented on #143
Feel free to do so, keep in mind that ideally the old behaviour should be unchanged and the new behaviour should be happening only when calling the "new" way.

[2018-07-11 13:41] crankydillo commented on #143
Thanks.  I was thinking the existing behavior would be changed though.  Is there ever a case, where we wouldn't want the port used by the zookeeper instance (created [here](https://github.com/manub/scalatest-embedded-kafka/blob/64d4eea3eb8042ba0a590332a8c16d2859cb340d/embedded-kafka/src/main/scala/net/manub/embeddedkafka/EmbeddedKafka.scala#L61)) to be passed via `EmbeddedKafkaConfiguration` [here

[2018-07-11 13:43] crankydillo commented on #144
Good to know.  RE project name change.. I know the code might be minimal, but it may make sense to have 2 projects.  Anyhow, you can decide that if I actually do come up with a PR:)

[2018-07-16 23:17] crankydillo opened #147 "How to add functionality to an older branch"
I recently wrote #143 and #144 to address some needs I had for running embedded Kafka in TestNG+Java tests.  As it turns out, I actually need to run embedded Kafka version 0.10.2.0 with the changes I've made for those issues (e.g. #145) .

Should I start with the code in [this tag](https://github.com/manub/scalatest-embedded-kafka/blob/6ea07bc95ada83544baa529021ba9a08c90ca2ed/build.sbt#L5) or shou

[2018-07-18 11:07] 2m opened #148 "Release for Scala 2.13 milestones"
A release for 2.13.0-M3 would be great as a first step before releasing for 2.13.0-M4 which has new scala collections.

[2018-07-20 22:04] manub commented on #148
Unfortunately Kafka binaries are not available for 2.13.0 yet 👎

[2018-07-20 22:23] manub commented on #147
Have you tried go to the tag you specified and cherry picking commits? You'd have to specify a new version which you could publish to your own repo. I've intentionally not backported features as unfortunately I don't have too much time right now to maintain this project.

[2018-07-20 22:23] #144 closed

[2018-07-21 14:38] #143 closed

[2018-07-21 18:32] tjheslin1 commented on #114
Rerunning the latest version of the project, I still get the same "Address already in use error" whilst running `sbt test`.

The only references to parallel execution I can see are in `build.sbt`:

`parallelExecution in ThisBuild := false`
and
`parallelExecution in Test := false`

[2018-07-21 20:17] manub commented on #114
I'm sorry about this - I haven't been able to reproduce. What's the frequency of this failure?

Could you share some of the test code you're talking about?

[2018-07-24 13:32] 2m commented on #148
Created a ticket for that in Kafka issue tracker: https://issues.apache.org/jira/browse/KAFKA-7197

[2018-07-25 16:53] thrykol opened #150 "EmbeddedKafka.stop() fails to shutdown Zookeeper"
Using `"net.manub" %% "scalatest-embedded-kafka" % "1.1.1"` I'm seeing an issue with stopping the embedded servers if the servers have been started individually.  When I start the servers by calling `start()` the subsequent call to `stop()` works as expected.  However, when starting each server individually, a call to `stop()` results in repeated `Connection refused` ZooKeeper errors .

Looking at

[2018-07-26 11:42] crankydillo commented on #147
Hi!

Yes, I've been working off the tag.  I've been doing it for a work requirement, so I've been building what I need.  I do need to do a diff against `master` and grab any goodness there.

While I understand you not wanting to back-port features, I do hate to hear that I'll have to release off my own fork, assuming I am creating a general purpose solution.  Is the release project for this projec

[2018-07-26 11:57] crankydillo opened #151 "Remove names/doc/etc that suggest Scalatest is required"
A continuation of the work started for #144.  Basically, this library should become usable in more contexts; however, these are still likely test and PoC contexts..  Anyhow, the 2 obvious things to do are rename the project and redo the documentation.  Of course, a section on how to use this with ScalaTest would still be nice.

[2018-07-29 21:02] manub commented on #151
I thought about it and I won't be renaming the project for now - the library is getting in the region of approx 20k downloads per month and although most likely the number of users is far lower (CI builds are prone to re-download if caching is not configured properly) I think until `2.0.0` this won't be an option. Reading the docs hopefully should make it clear that the library works also with oth

[2018-07-29 21:06] manub commented on #147
I could definitely release a `0.13.0-1` or similar. What I'd need to do is push a branch - I'll name it `kafka_0.10.2.1`. Then you can create a PR against that branch and I can release on top of that. If the community is willing to provide PRs I'm more than happy to deal with the release pipeline.

[2018-07-29 21:07] manub commented on #147
Which tag you started from?

[2018-07-29 21:10] manub commented on #114
I wonder if this could actually be related to #150.

Any chance you can try with the current `master`? If this is fixed I can release `1.1.1.1`.

[2018-07-30 14:09] crankydillo commented on #147
I'm pretty sure 0.13.0; however, at this point, I've gone back to working off master..  I need a lot of the functionality there, specifically around giving a handle to the embedded kafka and zookeeper instances.  Cherry picking seemed like it was going to be difficult as there were over 80 commits different between the 0.13.0 and master.

Basically, I want EmbeddedKafka to give me a kafka+zookeepe

[2018-07-30 14:15] crankydillo commented on #147
For now, I'm going to use `0.13.0-1`.  Otherwise, we couldn't even consider merging back to your org without you redoing your policy on version numbers..

[2018-07-30 22:15] thrykol commented on #150
Sorry to comment on a closed issue, but not sure how to get around it.  I've just built and tested `master` and am still seeing the same issue.  #152 didn't address the underlying issue of the process hanging when stopping ZooKeeper and Kafka after starting each service independently (`startZookeeper` and `startKafka`.

[2018-08-01 13:36] tjheslin1 commented on #114
Unfortunately I still do. I'll spend some time looking further into why. The fact that this issue didn't resolve it gives me something to go on.

[2018-08-01 21:30] xmariachi opened #153 "SBT Parallel execution of tests: topics deleted"
I am running tests over the same topology. I have different suites, each suite contains several tests, which use `withRunningKafka` and customer consumers.
Each suite uses different application name and topic names.

When running tests sequentially they're fine, but in parallel starts showing errors of non-existent topics, dangling threads trying to connect to ZK, etc.

I've updated to 1.1.1 to no

[2018-08-08 12:27] TomLous opened #156 "kafka.serializer.Encoder doesn't exist anymore in 2.0.0"
Running the `EmbeddedKafkaStreamsAllInOne` example I keep getting

[code]

I've noticed that I didn't have an Encoder class in my classpath.
I probably don't need it, but it's part of the Codecs object and probably why it fails

https://github.com/apache/kafka/tree/2.0/core/src/main/scala/kafka/serializer

[2018-08-08 14:36] manub commented on #156
Which version of EmbeddedKafka you're using? Currently we don't support `2.0.0` but I'm planning to release a `2.0.0` version over the weekend.

[2018-08-08 18:15] TomLous commented on #156
Oh sorry you are right. I'm using 2.0.0 with your 1.1.1 lib. I did manage to  work around by pulling the implicit serde out of the Codecs so it still works. Thanks!

[2018-08-31 13:14] tiboun commented on #89
@jiminhsieh @manub

I have the same issue with the following dependencies:
[code]
with kafka version 1.0.0

I reproduced this issue with the following test:

[code]

By the way, I have 2 questions :
* Is the `KafkaStream` built from `runStreams` not exposed on purpose ?
* Can we have `runStreamsOnFoundPort` ? `runStreams` currently only use `withRunningKafka`

[2018-08-31 14:53] tiboun commented on #89
We finally decided to use Eventually.eventually in scalatest. This resolve the empty stream issue. Maybe you have an alternative to that.

[2018-09-29 11:17] #113 closed

[2018-10-01 08:00] manub opened #158 "Seeking new maintainer"
I've realised I don't have enough time to dedicate to this project anymore, and I was wondering if somebody would be interested to help out with this. I know there's a few users out there so it would be great to be able to give them a better support.

If anybody is interested, just comment on this PR.

[2018-10-10 23:48] clande opened #159 "Is there a 2.0.0 version of scalatest-embedded-schema-registry somewhere?"
1.1.1 is the only that resolves.

Thanks!
Chris

[2018-10-11 05:41] manub commented on #159
Apparently publishing from bintray to Maven Central failed. I've retried from bintray. Let me know.

[2018-10-12 07:48] manub commented on #159
It's published now on Maven Central.

[2018-10-12 07:48] #159 closed

[2018-11-21 13:39] NeQuissimus commented on #158
I am using this library quite regularly. However, I have no knowledge of the Confluent parts of this (Schema registry in particular).
I can definitely help out but I would want to split the Confluent parts off into a sub-module and have somebody else help out there

[2018-11-21 14:37] francescopellegrini commented on #158
I may provide support on the Schema Registry module. =)

[2018-11-21 21:33] manub commented on #158
One solution would be to give you both commit rights. We'd have to handle the release process though - although if requested I can still run releases. Probably also worth to move it to a new org?

[2018-11-22 12:57] NeQuissimus commented on #158
Maybe rather than moving this repo, we should fork and archive this repo with a notice?

Then we could rename, break the compatibility (split modules) etc. ?
Just throwing it out there...

I can host you guys in my fork, or we create a single-repo org?!

[2018-11-22 22:01] manub commented on #158
@NeQuissimus agreed with the approach. Better to create a single-repo org in my opinion.

[2018-11-22 22:05] manub commented on #158
Created a new org and invited both of you. For now as members, we can discuss further there.

I suggest we close this ticket and we create another one for the migration. `2.1.0` is a good candidate to be released on the new org? (something like `"io.github.scalatestembeddedkafka"`)

[2018-12-04 17:07] martyphee opened #161 "EmbeddedKafka.start() -> Is throwing error and won't start"
[code]

[2018-12-04 17:07] martyphee opened #162 "EmbeddedKafka.start() -> Is throwing error and won't start"
[code]

[2018-12-04 17:10] #161 closed

[2018-12-11 08:08] 2m opened #166 "Schema registry is not shutdown"
When schema registry is created in `EmbeddedKafkaWithSchemaRegistry.start` it is not added to the `servers` global variable:

https://github.com/manub/scalatest-embedded-kafka/blob/64d4eea3eb8042ba0a590332a8c16d2859cb340d/schema-registry/src/main/scala/net.manub.embeddedkafka/schemaregistry/embeddedKafkaWithSchemaRegistry.scala#L157-L172

Therefore when `stop()` is called, the schema registry keep

[2018-12-11 10:30] francescopellegrini commented on #166
This was recently fixed in [the new WIP repo](https://github.com/embeddedkafka/embedded-kafka/commit/df98c8644612a21d2c986b106a443a0a679328ab), but thank you for reporting!

[2018-12-11 10:33] francescopellegrini commented on #150
I think this was fixed in [the new WIP repo](https://github.com/embeddedkafka/embedded-kafka/commit/df98c8644612a21d2c986b106a443a0a679328ab)...

[2018-12-11 10:54] francescopellegrini commented on #83
May we close this?

[2018-12-11 10:55] francescopellegrini commented on #151
This is in the work in [the new WIP repo](https://github.com/embeddedkafka/embedded-kafka).

[2018-12-11 10:56] francescopellegrini commented on #158
Can we close this now?

[2018-12-11 10:56] francescopellegrini commented on #156
Can we close this now?

[2018-12-11 11:20] francescopellegrini commented on #109
Moving the discussion to embeddedkafka#12.

[2018-12-11 11:30] 2m commented on #166
Ahh, great! Closing this ticket then.

[2018-12-11 11:30] #166 closed

[2018-12-11 14:02] #83 closed

[2018-12-11 14:07] #151 closed

[2018-12-11 14:08] #156 closed

[2018-12-11 14:08] #109 closed

[2018-12-13 20:50] nikitapecasa commented on #162
@martyphee Did you mean to use 2.0.1 for kafka-streams-scala and the like?
I'm having the same error with 2.1.0 kafka-streams-scala and scalatest-embedded-kafka 2.0.0

[2018-12-21 06:34] thiloplanz commented on #162
I had the same problem, I had tried to use `"net.manub" %% "scalatest-embedded-kafka" % "2.0.0" % Test` with `"org.apache.kafka" % "kafka-clients" % "2.0.0"`.

Matching the versions exactly resolved the issue.

[2018-12-21 10:03] Flamma opened #168 "Ask for committed offsets"
I want to test if an offset is committed or not (because only commit in some situations). I have not found any way to test that.

I'm very newbie at this, so probably there's something I just don't get.

I'm using akka kafka streams. Here's an example of a test that is working.

[code]
```publishAndRequestRetry``` uses ```publishToKafka``` to put a message and wait for the source to get it.

I wan

[2018-12-31 11:27] jeroentervoorde opened #170 "Kafka 2.1.0"
This pr upgrades kafka to 2.1.0 and confuent to 5.1.0 and fixes a deprecation warning.

https://github.com/manub/scalatest-embedded-kafka/pull/169

[2018-12-31 11:55] #170 closed

[2019-04-02 10:23] faizanhub commented on #114
java.net.BindException: Address already in use: bind
        at sun.nio.ch.Net.bind0(Native Method)
        at sun.nio.ch.Net.bind(Net.java:433)
        at sun.nio.ch.Net.bind(Net.java:425)
        at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:223)
        at sun.nio.ch.ServerSocketAdaptor.bind(ServerSocketAdaptor.java:74)
        at sun.nio.ch.ServerSocketAdaptor.bind(Se

[2019-04-16 18:45] ametrocavich commented on #113
Did you figure this out? I seem to be having a very similar issue.

[2020-01-09 09:06] msilvestre commented on #114
This error is also happening to me when I use withRunningKafka on different test files.

Ex:
I have a testSpec:
[code]
And I have other testSpec:
[code]

And it fails with

I'm on macOS Catalina. If I just move all the tests to the same file everything is fine and working.

[2020-01-17 07:46] rgugliel commented on #148
What is the status of this issue?

[2020-04-15 09:09] razem-io commented on #148
Any update on this? Would be nice! Kafka now has binaries for 2.13. https://github.com/apache/kafka/pull/6989

[2020-04-15 09:12] razem-io commented on #148
I should read the README.md. Active project can be found here: https://github.com/embeddedkafka/embedded-kafka

[2022-08-10 16:00] #142 closed